<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー作成完了</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet">
</head>

<body>
<div class="container-fluid vh-100 d-flex flex-column">

    <div class="flex-fill d-flex justify-content-center align-items-center">
        <h1 class="fw-bold">ユーザー作成完了</h1>
    </div>

	<div class="text-center mb-4">
			<a th:href="@{/create_user}">ログイン</a>
		</div>
</div>
</body>

</html>